# VITE_BASE_URL=http://erp.localhost:8000/api

 VITE_BASE_URL=https://erp.izyanehub.com/api/method/erpnext.zra_client
VITE_INVOICE_API_URL=https://erp.izyanehub.com/api/method/erpnext.zra_client.sales.api
VITE_ITEM_API_URL =https://erp.izyanehub.com/api/method/erpnext.zra_client.item.item
VITE_AUTHORIZATION= token 1e329714a6374c6:812f742ecb4aa0d
VITE_HRMS_API_URL=https://erp.izyanehub.com/api/method/hrms.napsa_client
VITE_NAPSA_MEMBER_API_URL=https://erp.izyanehub.com/api/method/hrms.napsa_client
GET_COMPANY_BY_ID = https://erp.izyanehub.com/api/method/erpnext.company-setup.setup
VITE_COMPANY_API_URL=https://erp.izyanehub.com/api/method/erpnext.company-setup.setup
VITE_CLASS_LIST_API_URL=https://zra-codes.izyanehub.com/api
VITE_COUNTRY_LIST_API_URL=https://zra-codes.izyanehub.com/api
VITE_PROFORMA_API_URL=https://erp.izyanehub.com/api/method/erpnext.proforma.api
VITE_UNIT_OF_MEASURE_LIST_API_URL = https://auto-search-zra.onrender.com/api
VITE_PACKAGING_UNIT_CODES_API_URL = https://zra-codes.izyanehub.com/api/
VITE_QUOTATION_API_URL= https://erp.izyanehub.com/api/method/erpnext.quotation.api
VITE_CREDIT_NOTE_API_URL=https://erp.izyanehub.com/api/method/erpnext.zra_client.sales.api
VITE_DEBIT_NOTE_API_URL=https://erp.izyanehub.com/api/method/erpnext.zra_client.sales.api



VITE_COMPANY_ID=COMP-00003 

https://erp.izyanehub.com/api/method/erpnext.zra_client.item.imports.api.get_all_import_items